---
name: Project Issue

# yamllint disable-line rule:truthy
on:
  workflow_call:
    inputs:
      project-id:
        required: true
        type: number
    secrets:
      gh-token:
        required: true

concurrency:
  group: project-issue-${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  add-sentry-label:
    if: >
      github.event.issue.performed_via_github_app != null &&
      (contains(github.event.issue.performed_via_github_app.name, 'sentry') ||
       contains(github.event.issue.performed_via_github_app.name, 'Sentry'))
    permissions:
      contents: read
      issues: write
    name: Add Sentry Label
    runs-on: ubuntu-latest
    steps:
      - uses: actions-ecosystem/action-add-labels@v1
        with:
          labels: |
            kind/bug
            kind/sentry
  add-area-labels:
    name: Add Area Label
    runs-on: ubuntu-latest
    strategy:
      matrix:
        area:
          - area/app
          - area/frontend
          - area/backend
          - area/devops
          - area/design
    permissions:
      contents: read
      issues: write
    steps:
      - uses: actions-ecosystem/action-add-labels@v1.1.0
        if: ${{ contains(github.event.body, matrix.area) }}
        with:
          labels: ${{ matrix.area }}
  add-to-project:
    name: Add Issue to Project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/add-to-project@v1
        with:
          project-url: >
            https://github.com/orgs/${{ github.repository_owner }}/projects/${{ inputs.project-id }}
          github-token: ${{ secrets.gh-token }}
