---
name: Release

# yamllint disable-line rule:truthy
on:
  workflow_call:
    inputs:
      package-release-type:
        type: string
        default: simple
      config-file:
        type: string
        default: .release-please-config.json
      manifest-file:
        type: string
        default: .release-please-manifest.json
      deployment-url:
        type: string
        required: true
      deployment-environment:
        type: string
        required: true
      deployment-projects:
        type: string
    secrets:
      gh-token:
        required: true
      sentry-url:
        required: true
      sentry-org:
        required: true
      sentry-token:
        required: true

concurrency:
  group: release

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
      deployments: write
    steps:
      - uses: google-github-actions/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.gh-token }}
          release-type: ${{ inputs.package-release-type }}
          config-file: ${{ inputs.config-file }}
          manifest-file: ${{ inputs.manifest-file }}
      - uses: chrnorm/deployment-action@v2
        name: Create GitHub deployment
        if: ${{ steps.release.outputs.release_created }}
        with:
          token: ${{ github.token }}
          environment-url: ${{ inputs.deployment-url }}
          ref: ${{ github.sha }}
          initial-status: success
          environment: ${{ inputs.deployment-environment }}
      - uses: actions/checkout@v6
      - name: Create sentry release
        if: ${{ steps.release.outputs.release_created }}
        uses: getsentry/action-release@v3
        env:
          SENTRY_URL: ${{ secrets.sentry-url }}
          SENTRY_ORG: ${{ secrets.sentry-org }}
          SENTRY_AUTH_TOKEN: ${{ secrets.sentry-token }}
        with:
          environment: ${{ inputs.deployment-environment }}
          version: ${{ steps.release.outputs.tag_name }}
          projects: ${{ inputs.deployment-projects }}
