---
name: Test Web

# yamllint disable-line rule:truthy
on:
  workflow_call:
    inputs:
      check-paths:
        type: string
        default: frontend
      working-directory:
        type: string
        default: frontend
      node-version:
        type: number
        default: 20
      core-lint:
        type: boolean
        default: true
      package-manager:
        type: string
        default: yarn

concurrency:
  group: tests-${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  check-changes:
    name: Check Changes
    runs-on: ubuntu-latest
    outputs:
      has-changes: ${{ steps.check.outputs.changed }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 100
      - uses: marceloprado/has-changed-path@v1.0.1
        id: check
        with:
          paths: ${{ inputs.check-paths }}
  test:
    runs-on: ubuntu-latest
    needs: check-changes
    if: ${{ needs.check-changes.outputs.has-changes == 'true' }}
    name: Test Web
    defaults:
      run:
        shell: bash
        working-directory: ./${{ inputs.working-directory }}
    steps:
      - uses: actions/checkout@v6

      - name: Install pnpm
        if: ${{ inputs.package-manager == 'pnpm' }}
        uses: pnpm/action-setup@v4

      - id: setup-node
        name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ inputs.node-version }}
          cache: ${{ inputs.package-manager }}
          # yamllint disable-line rule:line-length
          cache-dependency-path: ${{ inputs.package-manager == 'yarn' && '**/yarn.lock' || '**/pnpm-lock.yaml' }}

      - name: Install dependencies
        # yamllint disable-line rule:line-length
        run: ${{ inputs.package-manager == 'yarn' && 'yarn install --immutable' || 'pnpm install --frozen-lockfile' }}

      - name: Core lint
        if: ${{ inputs.core-lint }}
        run: ${{ inputs.package-manager }} core-lint

      - name: Web lint
        run: ${{ inputs.package-manager }} web-lint
